<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/fifa.css" media="screen"/>
    <link rel="stylesheet" href="/assets/css/semantic.css">
    <title> FIFA 17 - Football has changed </title>
  </head>
  <body>

    <section class="ui stackable container">
      <%- partial("includes/_header.ejs") %>

      <%- partial("includes/_menu.ejs") %>

      <%- partial("includes/_intro.ejs") %>

      <%- partial("includes/_sidebar.ejs") %>

      <%- partial("includes/_sponsors.ejs") %>

      <%- partial("includes/_footer.ejs") %>
    </section>
  </body>
</html>